body {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    margin: 60px auto;
    max-width: 1280px;
    background: #e2e2e2;
}

.block-plans {
    margin: 0 auto;
    text-align: center;
}

.block-plan {
    font-family: 'OpenSans-Bold', sans-serif;
    display: inline-block;
    margin: 6px;
    min-width: 240px;
    min-height: 440px;
    background: #fff;
    transition: 0.6s linear;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    &__logo {
        font-family: 'OpenSans-Light', sans-serif;
        font-size: 34px;
        font-weight: 200;
        text-align: center;
        padding: 22px;
    }

    &__month {
        background: #3f516c;
        color: #fff;
        line-height: 44px;
    }
    &__month_mon {
        color: #8394ae;
    }

    &__content {
        color: #979797;
        padding-top: 14px;
    }

    &__option {
        margin: 0;
        color: #364761;
    }

    &__button {
        background: #fff none repeat scroll 0 0;
        border: 2px solid #3e4f6a;
        border-radius: 4px;
        color: #3e4f6a;
        cursor: pointer;
        display: block;
        line-height: 40px;
        margin: 36px 15px 0;
        text-decoration: none;
    }
}

.block-plan:hover {   
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-box-shadow: 0 2px 2px 3px #888;
    -webkit-box-shadow: 0 2px 2px 3px #888;
    box-shadow: 0 2px 2px 3px #888;

    .block-plan__logo {
        transition: 1s;
        color: #fff;
        background: #3f516c;
    }

    .block-plan__month {
        color: #fff;
        transition: 1s;
        background: #f7814d;
    }

    .block-plan__month_mon {
        color: #fff;
    }

    .block-plan__button {
        transition: 1s;
        background: #f7814d;
        border: 1px #f7814d solid;
        color: #fff;
    }
}
