﻿@font-face {
    font-family: 'RobotoMedium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/RobotoMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/RobotoRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}